/* navbar */
.headerOne {
  height: 100px;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 24px 40px;
  align-items: center;
  font-family: var(--font-family--primary);
  font-size: var(--font-size-para);
}
.nav {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.nested-lists {
  position: absolute;
  width: 153px;
  height: 160px;
  left: 113px;
  top: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
}
.nested-lists li {
  font-family: var(--font-family--primary);
  color: var(--gray);
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 1.5rem;
  font-size: var(--font-size-para);
  margin-top: 1rem;
  gap: 1rem;
}
.nested-lists-two {
  position: absolute;
  width: 116px;
  height: 128px;
  left: 306px;
  top: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
}
.nested-lists-two li {
  font-family: var(--font-family--primary);
  color: var(--gray);
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 1.5rem;
  font-size: var(--font-size-para);
  margin-top: 1rem;
  gap: 1rem;
}
.links {
  text-decoration: none;
  color: var(--gray);
}
.links:hover, 
.nested-lists li:hover{
  color: var(--black);
}
.nested-links{
  border: none;
  background: none;
  color: var(--gray);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 9px;
}
.nested-links:hover {
  color: var(--black);
}
.login-register {
  display: flex;
  align-items: center;
  gap: 2rem;
  opacity: 0.6;
}
.login-register button {
  background: none;
  border: 0.13rem solid var(--black);
  width: 100px;
  height: 40px;
  border-radius: 1rem;
}
.menu-icon {
  display: none;
}
.mobile-navi {
  display: none;
}

@media screen and (max-width: 400px) {
  .mobile-navi {
    display: block;
  }
  .login-register {
    display: none;
  }
  .links {
    display: none;
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
  }
  .nested-links {
    display: none;
  }
  .nav a img {
    width: 87px;
    height: 30px;
  }

  /* mobile menu */

  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .open-mobile{
    height: 900px;
    width: 240px;
    background: var(--white);
    position: absolute;
    z-index: 9;
    left: 135px;
    top: 0px;
  }
.close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 200px;
  top: 21px;
}
.open-links {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  padding-left: 24px;
}
.mobile-links {
  border: none;
  background: none;
  color: var(--gray);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: var(--font-size-para);
}
.mobile-lists {
  text-decoration: none;
  color: var(--gray);
}
.mobile-buttons {
  margin-top: 2rem;
  display: block;
  align-items: center;
  color: var(--gray);
  text-align: center;
  font-size: var(--font-size-para);
}
.mobile-buttons button {
  background: none;
  margin-top: 1rem;
  border: 0.13rem solid var(--gray);
  width: 195px;
  height: 40px;
  border-radius: 1rem;
  color: var(--gray);
}
.mobile-nested li {
  font-family: var(--font-family--primary);
  color: var(--gray);
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--font-size-para);
  margin-top: 1rem;
  margin-left: 47px;
}
.mobile-links-two li {
  font-family: var(--font-family--primary);
  color: var(--gray);
  list-style: none;
  display: flex;
  align-items: center;
  font-size: var(--font-size-para);
  margin-top: 1rem;
  margin-left: 47px;
  line-height: 1rem;
}
}

/* hero section */
.hero-section {
  margin-top: 2%;
}
.hero-container {
  display: flex;
  flex-direction: row;
  font-family: var(--font-family--primary);
  gap: 120px;
}
.intro {
  margin-top: 130px;
  margin-left: 165px;
}
.intro h1 {
  font-weight: var(--font-weight-bold);
  font-size: 80px;
  line-height: 80px;
  width: 600px;
}
.intro p {
  color: var(--gray);
  width: 400px;
  padding-top: 3rem;
}
.intro button {
  margin-top: 51px;
  width: 163px;
  height: 52px;
  background: var(--black);
  color: var(--white);
  border-radius: 1rem;
  cursor: pointer;
}
.intro button:hover {
background: var(--white);
color: var(--black);
}
.hero-image {
  margin-right: 130px;
}
.hero-image img {
  width: 480px;
 height: 640px;
}
.clients {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-hero {
  display: none;
}

@media screen and (max-width: 375px) {
.hero-container {
  display: none;
}
.mobile-hero {
  display: block;
  text-align: center;
}
.mobile-intro {
  margin: 47px 1rem;
  font-family: var(--font-family--primary);
  width: 343px;
}
.mobile-intro h1 {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
}
.mobile-intro p {
  margin-top: 1rem;
  color: var(--gray);
  font-size: 1rem;
  line-height: 26px;
  font-weight: 500;
}
.mobile-intro button {
  margin-top: 1.5rem;
  width: 136px;
  height: 48px;
  background: var(--black);
  color: var(--white);
  border-radius: 1rem;
}
.mobile-clients {
  display: flex;
  justify-content: space-between;
  width: 343px;
  margin-top: 3rem;
}
.mobile-clients img:nth-child(1) {
  width: 81.25px;
  height: 14.36px;
}
.mobile-clients img:nth-child(2){
width: 52.87px;
height: 26px;
}
.mobile-clients img:nth-child(3){
  width: 64.14px;
  height: 14.36px;
  }
  .mobile-clients img:nth-child(4){
    width: 58.9px;
    height: 17.23px;
    }
}