/* navbar */
.headerOne {
  height: 100px;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem;
  align-items: center;
  font-family: var(--font-family--primary);
  font-size: var(--font-size-para);
}
.nav {
  display: flex;
  gap: 3rem;
}
.nav a {
  text-decoration: none;
  color: var(--gray);
}
.login-register {
  display: flex;
  align-items: center;
  gap: 2rem;
  opacity: 0.6;
}
.login-register button {
  background: none;
  border: 0.13rem solid var(--black);
  width: 100px;
  height: 40px;
  border-radius: 1rem;
}

/* hero section */
.hero-section {
  margin-top: 2%;
}
.hero-container {
  display: flex;
  flex-direction: row;
  font-family: var(--font-family--primary);
  gap: 120px;
}
.intro {
  margin-top: 130px;
  margin-left: 165px;
}
.intro h1 {
  font-weight: var(--font-weight-bold);
  font-size: 80px;
  line-height: 80px;
  width: 600px;
}
.intro p {
  color: var(--gray);
  width: 400px;
  padding-top: 3rem;
}
.intro button {
  margin-top: 51px;
  width: 163px;
  height: 52px;
  background: var(--black);
  color: var(--white);
  border-radius: 1rem;
}
.hero-image {
  margin-right: 130px;
}
.hero-image img {
  width: 480px;
 height: 640px;
}
.clients {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}