/* navbar */
.headerOne {
  height: 100px;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 24px 40px;
  align-items: center;
  font-family: var(--font-family--primary);
  font-size: var(--font-size-para);
}
.nav {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.nested-lists {
  position: absolute;
  width: 153px;
  height: 160px;
  left: 113px;
  top: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
}
.nested-lists li {
  font-family: var(--font-family--primary);
  color: var(--gray);
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 1.5rem;
  font-size: var(--font-size-para);
  margin-top: 1rem;
  gap: 1rem;
}
.nested-lists-two {
  position: absolute;
  width: 116px;
  height: 128px;
  left: 306px;
  top: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
}
.nested-lists-two li {
  font-family: var(--font-family--primary);
  color: var(--gray);
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 1.5rem;
  font-size: var(--font-size-para);
  margin-top: 1rem;
  gap: 1rem;
}
.links {
  text-decoration: none;
  color: var(--gray);
}
.nested-links{
  border: none;
  background: none;
  color: var(--gray);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 9px;
}
.login-register {
  display: flex;
  align-items: center;
  gap: 2rem;
  opacity: 0.6;
}
.login-register button {
  background: none;
  border: 0.13rem solid var(--black);
  width: 100px;
  height: 40px;
  border-radius: 1rem;
}
.menu-icon {
  display: none;
}
@media screen and (max-width: 400px) {
  .login-register {
    display: none;
  }
  .links {
    display: none;
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
  }
  .nav a img {
    width: 87px;
    height: 30px;
  }
  .menu-icon {
    display: block;
  }
}

/* hero section */
.hero-section {
  margin-top: 2%;
}
.hero-container {
  display: flex;
  flex-direction: row;
  font-family: var(--font-family--primary);
  gap: 120px;
}
.intro {
  margin-top: 130px;
  margin-left: 165px;
}
.intro h1 {
  font-weight: var(--font-weight-bold);
  font-size: 80px;
  line-height: 80px;
  width: 600px;
}
.intro p {
  color: var(--gray);
  width: 400px;
  padding-top: 3rem;
}
.intro button {
  margin-top: 51px;
  width: 163px;
  height: 52px;
  background: var(--black);
  color: var(--white);
  border-radius: 1rem;
}
.hero-image {
  margin-right: 130px;
}
.hero-image img {
  width: 480px;
 height: 640px;
}
.clients {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-hero {
  display: none;
}

@media screen and (max-width: 375px) {
.hero-container {
  display: none;
}
.mobile-hero {
  display: block;
  text-align: center;
}
.mobile-intro {
  margin: 47px 1rem;
  font-family: var(--font-family--primary);
  width: 343px;
}
.mobile-intro h1 {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
}
.mobile-intro p {
  margin-top: 1rem;
  color: var(--gray);
  font-size: 1rem;
  line-height: 26px;
  font-weight: 500;
}
.mobile-intro button {
  margin-top: 1.5rem;
  width: 136px;
  height: 48px;
  background: var(--black);
  color: var(--white);
  border-radius: 1rem;
}
.mobile-clients {
  display: flex;
  justify-content: space-between;
  width: 343px;
  margin-top: 3rem;
}
.mobile-clients img:nth-child(1) {
  width: 81.25px;
  height: 14.36px;
}
.mobile-clients img:nth-child(2){
width: 52.87px;
height: 26px;
}
.mobile-clients img:nth-child(3){
  width: 64.14px;
  height: 14.36px;
  }
  .mobile-clients img:nth-child(4){
    width: 58.9px;
    height: 17.23px;
    }
}